<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNG.MavenTestNG_Class2"/>
      <class name="TestNG.MavenTestNG_Class"/>
      <class name="MavenTestNGGithubCircleCI_Integ.MavenTestNGGithubCircleCI_Integ.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
